@import "mixin_var";

.img-responsive {
    max-width: 100%;
    display: block;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: $cor-1;
    max-width: 600px;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-bottom: 3rem;
    
    h2 {
        @include titulo;
    }
    
    h3 {
        font-weight: bold;
    }
}

.card:first-child {
    margin-top: 1rem;
}

.card ul li h3,
.card ul li p {
    display: inline-block;
    @include texto;
}

.card .preco {
    position: absolute;
    bottom: 4px;
    right: -1px;
}
    
.card .preco .simbolo {
    background-color: $cor-2;
    padding: 5px;
    color: $cor-3;
}

.card .preco .valor {
    background-color: $cor-4;
    padding: 5px;
    margin-left: -5px;
    color: $cor-3;    
}

.indice {
    background-color: #000;
    border: 2px solid $cor-2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    color: $cor-3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
}

.controller {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.controller div:first-child {
    margin-right: 50px;
}

.controller div {
    display: inline-block;
    cursor: pointer;
}

section.botons a {
    display: block;
    width: 30%;
    background-color: #cf6f55;
    padding: 20px;
    font-family: arial;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #808080;
    cursor: pointer;
    margin: 50px auto;
    
    @include device(tablet) {
        width: 60%;    
    }
    
    @include device(phone) {
        width: 80%;    
    }
}