// Resetando algumas formatações padrões de tags
@import "reset";

// Utilizando sistema de 12 grids
@import "grid";

// Página css padrão
@import "style";

// Página externa de mixin e variaveis
@import "mixin_var";
